<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<body>
<h1>截屏工具V1.0 简陋版</h1>
<h4>阿C出品</h4>
<div>
    <input id="shotUrl" type="text" value="http://www.baidu.com" placeholder="请输入快照的网址">
    <button onclick="shot(document.getElementById('shotUrl').value)">生成快照</button>
</div>

<div id="preview">

</div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    let timer
    let snapCheck = false
  function shot(url) {
      if(snapCheck){
        alert("请不要频繁点击！")
        return false
      }
    snapCheck = true
    $("#preview").empty()
    $("#preview").html('截屏生成中...')
    if (url.indexOf('http://') || url.indexOf('https://')) {
      $.ajax({
        url: '/snapshot/getSnapshot',
        type: 'POST',
        dataType: 'json',
        data: {
          url: url,
        }
      }).done(function (data) {
        timer = setInterval(() => {
          getImgUrl(data.url)
        }, 3000)
      }).fail(function () {
        alert("请求失败！")
        snapCheck = false
      })
    } else {
      alert('请输入正确的网址！')
    }
  }

  function getImgUrl(url) {
    $.ajax({
      url: url,
      type: 'HEAD'
    }).done(function (data) {
      snapCheck = false
      clearInterval(timer)
      $("#preview").empty()
      $("#preview").append('<span>截图下载地址:</span><a href="' + url + '" download="' + +new Date() + '.png">' + url + '</a>')
    }).fail(function () {
      console.log("等待轮询成功...")
    })
  }
</script>
</html>